body{
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color:var(--background-color);
}

/*=== nav-menu ===*/
.navbar-nav .nav-link:hover{
  color: #34b7a7 !important; 
}

.nav-menu a{
  text-decoration: none;
  color: black;
 
}
.nav-menu li{
  list-style: none;
}  
.nav-icon i{
  color: black;
} 
.nav-icon :hover{
  color: #34b7a7 !important; 
}


/*=== service-Section ===*/
.section-title h2::after{
    content: '';
    position: absolute;
    display: block;
    background: #34b7a7;
    width: 50px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .portfolio-filters{
    padding: 0;
    margin:0 auto 20px auto ;
    list-style: none;
    text-align: center;

  }
  .portfolio-filters li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    margin: 0 0 10px 0;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
   
  }

  .portfolio-filters :hover{
    color:white;  
    background-color:#34b7a7; 
  } 
.img-fluid{
  max-width: 100%;
  height: auto;
}
img{
  vertical-align: middle;
}

.bi-zoom-in{
  color: black;
} 
.bi-zoom-in:hover{
  color: #34b7a7 !important; 
}
.bi-link-45deg{
  color: black;
} 
.bi-link-45deg:hover{
  color: #34b7a7 !important; 

}

.masonry {
  column-count: 3;
  column-gap: 1rem;
}
.masonry .card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
 
}
/*=== footer-section ===*/
/* .light-background{
  background-color:#e9e8e6;
  height: 230px;
} */
.footer-icon i{
  font-size: 40px;
  color: black;
}